body {
    background-color: rgb(15, 15, 15);
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
#company-image {
    float: right;
}
#company-image img {
    height: 175px;
    width: 150px;
}
#header {
    height: 150px;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
}
#header h1 {
    font-size: 2em;
}
#main-content {
    /* border: 2px solid blue; */
    margin-top: 8%;
    height: 78%;
}
#home-page img {
    max-width: 100%;
    height: auto;
    opacity: 70%;
}
#pizza-status {
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
}
.option-text {
    color: black;
    font-size: 1.25em;
}
.option-container {
    align-items: center;
}
.pizza-option-status {
    display: flex;
}
.option-selected li {
    background-color: #1aff1a
}
.topping-price {
    float: right;
}
ul, li {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
}
#order-info {
    display: flex;
    flex-wrap: wrap;
}
.order-item-spacer {
    width: 50%;
}
.button-theme {
    border-radius: 10px;
    height: 100%;
    width: 48%;
    border-color: rgb(15, 15, 15);
}
#home-buttons {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    height: 10%;
}
/* .order-item-topping-name {
    width: 50%;
}
.order-item-topping-price {
    width: 50%;
} */